<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="grapevine">
<head>
    <title>The Economic Digestive</title>
    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide {
            display: none !important;
        }
    </style>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- inject:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="content/styles.css" rel="stylesheet"/>
    <link href="content/timechart.css" rel="stylesheet"/>
    <!-- endinject -->
</head>

<body>

<!--
<section ng-controller="CurrencyController as pm">
    <md-autocomplete
            ng-disabled="pm.isDisabled"
            md-no-cache="pm.noCache"
            md-selected-item="pm.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="pm.searchText"
            md-selected-item-change="pm.selectedItemChange(item)"
            md-items="item in pm.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Select currency pairs?">
        <md-item-template>
            <span md-highlight-text="pm.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
            No matches found for "{{pm.searchText}}".
        </md-not-found>
    </md-autocomplete>
</section>
-->

<section ng-controller="NewsController as pm">
    <label>Articles published: {{pm.articles.length}}</label>
    <!---
        <chart data="pm.articles" dummy="pm.articles"></chart>
        <ticking-chart></ticking-chart>
    -->
    <time-series-chart data="pm.articles"></time-series-chart>
</section>

<!--
<section ng-controller="Market">

    <label>Currency Names Loaded: {{currencyNames.length}}</label>
    <select class="custom-dropdown"
            ng-model="selectedItem"
            ng-options="item as item.code for item in currencyNames">
    </select>
    <pre>{{selectedItem | json}}</pre>

</section>
-->
<section ng-controller="EuroFxController">
    <input type="text" ng-model="ccyPair"/>
    <button ng-click="search()">Go</button>
    <timechart data="{{graphData}}"/>
</section>


<!-- inject-vendor:js -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/d3/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<!-- endinject -->

<!-- inject:js -->
<!--    models -->
<script type="text/javascript" src="app/model/currency.js"></script>
<script type="text/javascript" src="app/model/article.js"></script>

<!--    services -->
<script type="text/javascript" src="app/service/currencies.js"></script>
<script type="text/javascript" src="app/service/eurofx.js"></script>

<!--    controllers -->
<script type="text/javascript" src="app/controller/currency.controller.js"></script>
<script type="text/javascript" src="app/controller/eurofx.controller.js"></script>
<script type="text/javascript" src="app/controller/market.controller.js"></script>
<script type="text/javascript" src="app/controller/news.controller.js"></script>

<script type="text/javascript" src="app/directive/timechart.js"></script>
<script type="text/javascript" src="app/directive/ticking.chart.js"></script>

<!--    config -->
<script type="text/javascript" src="app/application.js"></script>
<!-- endinject -->

<!--    view/directives -->
<script type="text/javascript" src="app/view/chart.testing.js"></script>
<script type="text/javascript" src="app/view/chart.ticking.js"></script>

</body>
</html>