body {
	font: 10px sans-serif;
}

#graph {
	width: 960px;
	height: 500px;
}

#ccy.error {
	border: 1px solid #ff0000;
}

.timerange {
	cursor: pointer;
}

.timerange.hover {
	text-decoration: underline;
}

.timerange.selected {
	font-weight: bold;
}

#loader {
	background-color: #000;
	opacity: 0.75;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}

#loader > .align {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#loader > img {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	vertical-align: middle;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}