/*
    (Block) .custom-dropdown            = The main component
    (Element) .custom-dropdown__select  = Descendant of .custom-dropdown
    (Modifier) .custom-dropdown--*      = Different state of .custom-dropdown
*/

body {
    background: #222;
    padding: 1em;
    margin: 0;
    font-size: 16px;
    color: #6aa7c4;
}
body * {
    margin: 10px;
    padding: 10px;
    font-family: helvetica, sans-serif;
    font: 10px sans-serif;
}

.custom-dropdown {
    margin: 10px;
    width: 100px;
    display: inline-block;
}

.axis text {
    color: #00b3ee;
    stroke: #FFFFFF;
}

.axis path, .axis line {
    fill: none;
    stroke: #FF0;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
}
.line.second {
    stroke: red;
}
.area {
    fill: none;
    opacity: 0.5;
}
.dot {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}